<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/template :: head">
<meta charset="UTF-8">
<title>Create Game</title>
</head>
<body>
	
	<header th:replace="template/template :: header"></header>
	<div class="container">
		<h1 th:text="${titol}"></h1>
	</div>
	<div class="container">
		
		<form th:action="@{|/players/${playerId}/games/save|}" th:object=${game} method="post" >
				<div class="card-footer bg-dark">
					<button type="submit" class="btn btn-success" >New Game</button>
				</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Success</th>
					<th scope="col">Rolls</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="g:${playerGames}">
					<th scope="row" th:text="${g.gameId}"></th>
					<th scope="row" th:text="${g.successPerc}"></th>
					<td><a th:href="@{|/players/${playerId}/games/${g.gameId}/rolls|}" class="btn btn-warning">Rolls</a></td>
				</tr>
				
			</tbody>
		</table>
	</div>
	<footer th:replace="template/template :: footer"></footer>
</body>
</html>