<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/template :: head">
<meta charset="ISO-8859-1">
</head>
<body>
	<header th:replace="template/template :: header"></header>
	<div class="container">
		<h1>The average success of all players is </h1>
		<h1 th:text="${totalAvgSuccessPerc}"></h1>
	</div>
	<div class="container">

		<a class="btn btn-primary btn-sm" th:href="@{/ranking/loser}"
			th:text="'See loser'" title="See loser">
		</a>
		
		<a class="btn btn-primary btn-sm" th:href="@{/ranking/winner}"
			th:text="'See winner'" title="See winner">
		</a>
		
		
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Avg Success</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p:${players}">
					<th scope="row" th:text="${p.playerId}"></th>
					<th scope="row" th:text="${p.name}"></th>
					<th scope="row" th:text="${p.avgSuccessPerc}"></th>
				</tr>
				
			</tbody>
		</table>
	</div>
	<footer th:replace="template/template :: footer"></footer>
</body>
</html>